#
# These groups are read by MariaDB command-line tools
# Use it for options that affect only one utility
#

[mysql]
protocol=tcp
host=database
[mysql_upgrade]

[mysqladmin]

[mysqlbinlog]

[mysqlcheck]

[mysqldump]

[mysqlimport]

[mysqlshow]

[mysqlslap]
